# Tests only run with --short, since the full tests involve downloading datasets
# and would be too costly for a GitHub actions.
# Locally in the development box it works because the datasets are cached.
name: "Tests" # The name of the workflow that will appear on GitHub
permissions:
  # read|write|none
  actions: read
  checks: read
  contents: write
  deployments: read
  # id-token: read    --> doesn't work
  issues: read
  discussions: read
  packages: read
  pages: read
  pull-requests: write
  repository-projects: read
  security-events: read
  statuses: read

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-24.04  # Rename to ubuntu-latest once the latest include GLIBC-2.38.
    steps:
    - uses: actions/checkout@v4

    - name: Install Go
      uses: actions/setup-go@v5
      with:
        go-version: "1.24.x"


    - name: Install gopjrt shared libraries
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      shell: bash
      run: |
        go install github.com/gomlx/gopjrt/cmd/gopjrt_installer@latest
        sudo env GH_TOKEN=$GH_TOKEN $(go env GOPATH)/bin/gopjrt_installer -plugin linux -version latest -path /usr/local

    - name: Test
      run: |
        go test ./...

    - name: Commit README.md changes
      if: github.ref == 'refs/heads/main'
      run: |
        if git diff --quiet -- 'README.md' ; then
          echo "README.md not modified."
        else
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add README.md
          git commit -m "chore: Updated coverage badge."
        fi

    - name: Push Changes
      if: github.ref == 'refs/heads/main'
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ github.token }}
        branch: ${{ github.ref }}
